<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RainyShinyCloudyRedo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F340A6C1F01808C003290E3</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>0F340A801F01808D003290E3</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>0F340A8B1F01808D003290E3</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
